body {
    font-family: Arial;
    background-color: #f5f5f5;
    margin: 0;
}

header {
    background-color: #0080ff;
    color: white;
    padding: 20px;
    text-align: center;
}

.perfil img {
    width: 150px;
    border-radius: 50%;
}

.perfil {
    text-align: center;
    padding: 20px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
